<!DOCTYPE html>

<html>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
<head>

</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input type="text" placeholder="Type address">
            <button>Search</button>
        </form>
        <p>To Get you location's forecast Click here <button id="get-location">Weather</button></p>

        <p id ="message-1"></p>
        <p id ="message-2"></p>

    </div>
   
    {{>footer}}

     <script src="/js/app.js"></script>

</body>

</html>